{# 共通表示マップ画面です。 #}
<svg viewBox="0 0 1000 600" class="world-map">
  <image
    href="/static/game/map/map(仮).jpg"
    x="0"
    y="0"
    width="1000"
    height="600"
    preserveAspectRatio="xMidYMid slice"
  />

  <defs>
    <symbol id="cityNode" overflow="visible">
      <circle r="14" class="dot" />
      <circle r="30" class="hit" />
      <text x="15" y="5" class="label"></text>
    </symbol>
  </defs>

  <g class="node" data-id="city_a" transform="translate(200 300)">
    <use href="#cityNode" />
    <text x="15" y="5" class="label">都市A</text>
  </g>

  <g class="node" data-id="city_b" transform="translate(500 300)">
    <use href="#cityNode" />
    <text x="15" y="5" class="label">都市B</text>
  </g>

  <g class="edge" data-from="city_a" data-to="city_b">
    <path class="hit" d="M200 300 C300 250, 400 350, 500 300" />
    <path class="line" d="M200 300 C300 250, 400 350, 500 300" />
  </g>
</svg>
