#メインの画面です
{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Beastilia（仮）</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>
<body>
<div class="header">
    <div class="header-left">
        <div class="logo">Beastilia（仮） </div>
        <div class="char-info-line">
            {% if selected %}
                操作中キャラ：
                <strong>{{ selected.name }}</strong>
                （ランク: {{ selected.rank }} / ロケーションID: {{ selected.location.name }}）
            {% else %}
                操作中キャラ：ここにはだれもいない
            {% endif %}
        </div>
    </div>
    <div class="header-right">
        ログイン中：{{ request.user.userprofile.account_id }}<br>
        <a href="/logout/" style="color:#ccc;">ログアウト</a>
    </div>
</div>

<div class="container">

    <p style="font-size:14px;color:#ccc;">
        メイン画面だぜい！。<br>
    </p>

</div>
</body>
</html>