{% extends "base.html" %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'css/onboarding.css' %}" />
<link rel="stylesheet" href="{% static 'css/map.css' %}" />
{% endblock %} {% block content %}
<h1>初期ロケーションを選択</h1>

{% if error %}
<p style="color: red">{{ error }}</p>
{% endif %}

<div class="map-wrap">
  {% include "partials/world_map.svg.html" %}
  <div id="map-tooltip" class="map-tooltip" hidden></div>
</div>

<form method="post">
  {% csrf_token %}

  <label>
    <input type="radio" name="location_id" value="1" />
    王都アウレリア </label
  ><br />

  <label>
    <input type="radio" name="location_id" value="2" />
    港町ネレイス </label
  ><br />

  <label>
    <input type="radio" name="location_id" value="3" />
    森の都シルヴァ </label
  ><br /><br />

  <button type="submit">決定</button>
</form>
<script type="module" src="{% static 'game/dist/map_core.js' %}"></script>
{% endblock %}
