.map-wrap {
  position: relative;
  width: 1000px; /* 必要に応じて */
}

.map-tooltip {
  position: absolute;
  background: rgba(0, 0, 0, 0.85);
  color: #fff;
  padding: 6px 8px;
  border-radius: 6px;
  font-size: 12px;
  pointer-events: none; /* 小窓がマウスを邪魔しない */
  white-space: nowrap;
  z-index: 10;
}

g.node .hit{
  fill: rgba(0,0,0,0);      /* 透明 */
  stroke: rgba(0,0,0,0);    /* 透明 */
  pointer-events: all;      /* ここが重要 */
}